.navbar-default {
  background-color: #804200;
  border-color: #36458a;
}
.navbar-default .navbar-brand {
  color: #cb863e;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #1d2c71;
}
.navbar-default .navbar-nav > li > a {
  color: #36458a;
  text-shadow: 1px 1px #cba13e;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #36458a;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #36458a;
}
.navbar-default .navbar-toggle {
  border-color: #36458a;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #36458a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cb863e;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cb863e;
}
.navbar-default .navbar-link {
  color: #cb863e;
}
.navbar-default .navbar-link:hover {
  color: #a67d19;
}
.navbar-brand {
	float: left;
	background-image: url(../images/ia.jpeg);
	background-repeat: no-repeat;
    padding-left: 80px;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #cb863e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a67d19;
    background-color: #36458a;
  }

}
body { 
    font-family: Segoe, "sego UI", "DejaVu Sans", "Trebuchet", Verdana, Sans-Serif;
    background-image: url(../images/background1.jpg);
    background-color: #000000;
    padding-top: 70px;
    background-clip: border-box;
    background-size: cover;
    background-attachment: fixed;
    color: #f0ffff;
    min-height: 400px;
    margin-bottom: 100px;
    margin-top: 40px;
    }
footer { position: relative; }
.panel-footer {
   position: fixed ;
   bottom: 0;
   height: 44px;
   width: 100%; 
   background-color: #803f00;
   color: #cb863e;
   text-align: center; }
p { display: block; }
iframe { float: right; 
    margin: 40px; }
img {;  
    position: relative; }
.well { background-color: #111111; padding: 20px 20px 20px 20px; margin-top: 30px; margin-bottom: 30px; }
.aboutme { margin-top: -40px }
figure { background-color: #000000; 
         padding: 25px; 
         border-style: solid; 
         border-width: 1px; }

@media only screen and (max-width: 767px) {
    iframe { display: none }
    figcaption { display: none }
}

