.navbar-default {
  background-color: #804200;
  border-color: #36458a;
}
.navbar-brand {
	float: left;
	background-image: url(../images/ia.jpeg);
	background-repeat: no-repeat;
    padding-left: 80px;
    }
.navbar-default .navbar-brand { 
    color: #fff444;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
      color: #000;
      background: #cb863e;
 }
.navbar-default .navbar-nav li a {
  color: #cb863e;
}
.navbar-default .navbar-nav li a:hover { 
    color: #123cb0; 
} 
.navbar-default .navbar-nav li a:focus {
   color: #CB863E;
}
#wrapper { 
    margin-left: auto; 
    margin-right: auto; }
body {
    font-family: Myriad Pro, Verdana, Helvetica;
    background-image: url(../images/background1.jpg);
    background-color: #000000;
    background-clip: border-box;
    background-size: cover;
    background-attachment: fixed;
    color: #e9ffff;
    min-height: 400px;
    margin-bottom: 85px;
    padding-top: 50px; 
    }
figure { 
    max-width:  200px; 
    position: relative;
    border-radius: 5px; 
    background-color: #012835; 
    padding: 25px; 
    border-style: solid; 
    border-width: 1px;
    }
.panel-footer {
   position: fixed ;
   bottom: 0;
   height: 58px;
   width: 100%; 
   background-color: #803f00;
   color: #cb863e;
   text-align: center; 
 }
a { color: #fff444; 
    display: block; }
p { display: block; }
iframe { display: block; 
         padding: 25px; 
         position: absolute; }
img {  position: relative; }
.well { 
    background-color: #012835; 
    padding: 20px 20px 20px 20px; 
    margin-top: 30px; 
    margin-bottom: 30px;
    line-height: 200% }
#aboutme { padding-top: 60px;
        margin-top: -40px }
#mybackground { padding-top: 60px;
        margin-top: -40px }


@media only screen and (max-width: 767px) {
    iframe { display: none }
    figcaption { display: none } 
}
@media only screen and (max-width: 992px) {
    iframe { display: none }
}
@media only screen and (min-width: 992px) {
    figure { margin-top: 37px } 
}




    
    


